<div id="about_us_container">
    <h2> Hello BLabs!</h2>
    <div class="main_about_us_block">
    Thank you in advance for taking the time out to look over this application. I'm excited
to meet with you and look forward to working together in the future. Additionally, thank you for introducing me
to Ember.js. I haven't had a chance to really learn the framework in my current position and this gave me a great
excuse to do some research on it. I may actually prefer it to Angular. Especially when working in conjunction
with Laravel.
    </div>
    <div class="second_about_us_block">
To give you a brief run down, this simple application integrates with <span class="bold">Yelps API</span> and uses <span class="bold">Ember.JS</span> and <span class="bold">Laravel</span>

You can create an account and do a look up to see the best resturants in a specific area. This app also provides
basic search functionality so you can filter your results off price. <span class="bold">This application is also fully optimized for mobile devices.</span>
    </div>

    <div class="third_about_us_block">
If you have any questions in regards to this Application, please don't hesitate to let me know.<br/>
I can be reached at <span class="bold">267-294-7650</span> or <span class="bold">jeff@jeff-spencer.com</span>
<br/><br/>
Thanks again, and hope to speak to your soon.
    </div>

    <div align="left" class="avatar_container">
        <img class="my_avatar" src="http://jeff-spencer.com/common/images/portfolio.jpg"/>
        <h2>- Jeff Spencer</h2>
        <small> Your Future Developer</small>
    </div>
</div>