@import 'pages.css';
@import 'style.css';
@import 'bootstrap.min.css';
@import 'alertify.css';
@import 'default.css';
html,
body {
    margin:0;
    padding:0;
    height:100% !important;
}
body > .ember-view {
    height:100% !important;
}
/* Basic Media Queries */
@media only screen and (max-width: 835px) {
    #about_us_container {width:100% !important; padding:10px;}
    #body_container {width:100%}
    .header_login {float:none !important;width:100% !important;text-align:left;}
    #homenavigation {height:100px !important}
    .main_header_link {position:relative !important;left:10px !important;}
    .header_logo {width:100% !important;float:none !important;}


}

@media only screen and (max-width:650px) {
    .location_left_block{float:none !important;}
    .location_right_block{float:none !important;}
}

@media only screen and (max-width:500px) {
    #homenavigation li{ width:100% !important}
    #account_update_form_container {width:100% !important}
}
.closeLoginForm {color:white;position:relative; left:70px; bottom:5px; text-decoration: underline; cursor:pointer}
.search_listing {margin-bottom:15px}
.search_listing span.search_list_value {margin-right:15px;}
.yelp_search_form select{width:200px !important;margin-bottom:10px;}
.location_left_block{float:left; width:20%;}
.location_right_block{float:left;width:70%}
#location_listing{padding:20px;max-width:700px;}
#location_listing li{list-style:none;}
#main_home_page_content{height:100%;width:100%;margin:auto;}

.password_match input{border: 1px solid forestgreen}
.zoomIT{opacity: 100; margin-left: 0;}
#dashboardHeader{ background-color:#2B303B;color:white;position:relative;z-index:5;border-bottom:1px solid #2B303B;padding-left:10px;padding-top:10px;padding-bottom:10px;box-shadow: 0px .2px 5px 0px rgba(50, 50, 50, 0.75);}
.account_update_form h2{margin-bottom:25px !important;
    text-shadow: 0px 1px 1px #4d4d4d !important;
    font: 30px 'LeagueGothicRegular' !important;
color:black !important}
#account_update_form_container input {margin-bottom:10px !important;}
#account_update_form_container {width:50%;padding:10px;margin-top:25px;}
.my_avatar {width:120px;height:120px;border:1px solid black;padding:2px;}
.bold{font-weight:bold;}
.main_about_us_block{font-weight:bold;font-size:15px;margin-bottom:30px}
.second_about_us_block {margin-bottom:20px;}
.avatar_container{font-style:italic; margin-top:20px;}
#page_container {border-left:1px #CECECE; border-right:1px #CECECE; min-height:400px;position:relative;height:100%;}
#body_container {
    min-height:600px !important;
    padding-bottom:60px;   /* Height of the footer */}
#about_us_container {width:75%;margin:auto;padding-top:20px;height:100%}
#registration_block {padding:5px;}
#form-login {display:none}
#main_footer{
    margin-top:20px;
    position:relative;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: #2f2f2f;
    text-align: center;
}
#closeLoginButton{position:absolute; color:white;cursor:pointer;text-decoration: underline; right:20px; top:10px}
.error-message{color:lightcoral;display:none;}
.error-message-container{height:20px}
#homenavigation{
    color: black;
    position: relative;
    z-index: 6;
    top: 0;
    height: 60px;
    width: 100%;
    padding:5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
}
#homenavigation li{
    display: table-cell;
    margin: auto;
}
#homenavigation li a {
    color:white;
    text-shadow: 1px 1px 2px #000000 !important;
}
.main_header_link {font-weight:bold;color:white;text-shadow: 1px 1px 2px #000000 !important;}
#homenavigation .main_header_link{padding-right:40px}
#homenavigation {background-color:#2f2f2f}
.header_logo {float:left;width:50%;}
.header_logo a {text-decoration:none; color:#0FA933}
.header_logo h1{text-transform:none !important; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important; font-size:28px;padding-top:5px;margin-top:0px !important;color:#23cc28;text-shadow: 1px 1px 2px #000000 !important;}
.header_login {float:right;width:50%;padding-top:5px;padding-right:10px;}
.header_main_link {
    position: relative;
    bottom: 2px;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px 2px #000000 !important;
}
#loginFormContainer{   display:none;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(43, 48, 59);
    border-radius: 0px 0px 6px 6px;
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: 100;
    top: 0px;
    right: 0px;
}
#loginFormContainer a{
    color:white !important;
}

#loginFormContainer h2 {
    margin-top:0px;
    margin-left:10px;
    margin-bottom:15px !important;
    color:white;
    display:inline;
}
#closeLogInButton {
    color:white;
    float:none;
}
#loginFormContainer button {
    margin-top:23px;
    margin-left:17px;
}
#page_container { height:100%;}
#registerLink {color:white;margin-left:10px;}
#registerLink a {color:white;text-decoration: underline;}
.passResetLink {color:white;margin-left:17px;text-decoration: underline;margin-top:10px;margin-bottom:10px}

/* Registration Form */
.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 label{
    display:block;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
     box-shadow: 0 0 5px #B0CFE0;
     border:1px solid #B0CFE0;
 }
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 p {font-size:30px;margin-bottom:25px;line-height:30px;}
.form-style-9 input { margin-bottom:10px;width:70%}

.form-style-9 button {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}
#register_form_container {margin:auto;text-align:center}
.main_register_button{width:70%}



/* Navigation Container and Menu */
.navContainer {
    width:375px;margin:auto;
    background:white;
    text-align:center;

}
#mainNavContainer{border-bottom:1px solid #CECECE;}


.navContainer ul li {
    display: inline;
    text-align: center;
}

.navContainer a {
    display: inline-block;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}
.one:hover ~ hr {
    margin-left:13% !important;
}
.one.active_link ~ hr {
    margin-left:13% !important;
}
.two:hover ~ hr {
    margin-left: 38% !important;
}
.two.active_link ~ hr {
    margin-left: 38% !important;
}


.three:hover ~ hr {
    margin-left: 64% !important;
}
.three.active_link ~ hr {
    margin-left: 64% !important;
}

.four:hover ~ hr {
    margin-left: 75% !important;
}

hr {
    margin-left:13%;
    margin-top:0;
    margin-bottom:0;
    height: .25rem;
    width: 25%;
    background: #20BF25;
    border: none;
    transition: .3s ease-in-out;
}