/* Re-Used Styling */

.zoomIT{margin-left:300px;opacity:0}
.subHeader {width:200px;display:inline}
/* The element to apply the animation to */
body, html {height: 100% !important}
#wrapper {
    min-height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    height: 100px; /* .push must be the same height as .footer */
}
.smallIcon{width:20px !important; height:20px !important}
#mainFileLibraryBlock{display:none;padding-right:10px;background-color:white;border:1px solid #CECECE}
#mainMessageContainerBlock{margin-bottom:200px}
#footer {width:100%;background-color:#2B303B;text-shadow:1px 1px 2px  #000000 !important;color:white;z-index:10;padding:10px;}
#mainNavBlock div { color:#0FA933 !important;text-shadow:1px 1px 2px  #000000 !important}
#dashboardHeader .subHeader {font-size:24px;color:white !important; font-weight:bold !important;text-shadow:1px 1px 2px  #000000 !important}
#dashboardHeader span {color:white !important; font-weight:bold !important;text-shadow:1px 1px 2px  #000000 !important}
#dashboardHeader {padding-left:20px !important;background: #02672e -webkit-linear-gradient(transparent 0,rgba(0,0,0,0.16) 100%) ; color:white;position:relative;z-index:5;border-bottom:1px solid #2B303B;padding-top:10px;padding-bottom:10px;box-shadow: 0px .2px 5px 0px rgba(50, 50, 50, 0.75);}
#dashboardNavigation {background:white; margin-bottom:20px;border-bottom: 1px solid #CECECE; }
#contactGroupContainer {padding-bottom:10px; background:white; padding-top:10px;margin-bottom:10px;border-top: 1px solid #CECECE;border-bottom: 1px solid #CECECE;}
#contactSearchBox {margin-bottom:0px !important; min-height:500px;background-color:white;border:1px solid #CECECE;padding:10px;padding-bottom:10px !important;}
#groupSearchBox {background:none !important; box-shadow:none !important; border:none !important; margin-top:5px !important;max-width:550px;}
.wrapper-demo{margin-right:80px !important;left:50px !important}
.messageOptions span{font-weight:bold !important;    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;}
#mainNavBar {background-color: #2B303B;margin:0;color: white;border-bottom: 1px solid white;}
#mainNavBar ul{margin:0px !important;list-style:none;}
#mainNavBar li {float:left;border-right: 1px solid white;font-size:25px;}
.signUpLink button{position:relative;bottom:2px;background-color:#0FA933 !important; font-weight:bold;text-shadow:1px 1px 2px  #000000 !important}
#homenavbar li a{}
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin-top: 5px;
    padding: 10px;

    /* Styles */


    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #2B303B;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    color: #2B303B !important;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2B303B transparent;
}
h2 {color: white !important;}
.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #2B303B;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}
.campaignMessageTable th{font-weight:normal;background-color:#F5F5F5}
.activeCampaignMessageRow{background-color:#556996 !important; color:white;font-weight:bold}
.hiddenContactRow {display:none;}
/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    color: #02672e !important;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;

}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}



*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.wrapper-demo {
    margin: 0 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.dashboardColumns{padding-top:10px !important;padding-bottom:10px !important;}
.dashboardColumns:hover {background-color:#ccffbf}
#emailContactTableBody tr:first-child td{ background-color:white !important;color:black !important}
.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
    float:right;
    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}

.wrapper-dropdown-5:focus {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5:focus:after {
    border-color: #82d1ff transparent;
}

.wrapper-dropdown-5:focus .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    color: #57a9d9;
}
#menu-line {background:transparent !important}

/* Active state */

.wrapper-dropdown-5.active {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;

}

.has-sub {background-color:white;border:1px solid black;}

.has-sub ul{z-index:6 !important}

.wrapper-dropdown-5.active:after {
    border-color: #82d1ff transparent;
}


.wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}


#Logo {
    color:#2B303B;
    font-fize:16px;
    float:left;
    width:200px;
}

#aboutUsContainer {
    height:760px;
}

#bodyContainer {
    position:relative;
    min-height:100%

    background:#f5f5f5;
}

#footerLayer {
    background: #658c6e -webkit-linear-gradient(transparent 0,rgba(0,0,0,0.16) 100%) !important;
    position:absolute;
    z-index:9;
    left:0;
    height:100%;
    top:100%;
    width:100%;
    box-shadow:0 0 5px rgba(0,0,0,0.7);
}

#headerLayer {
    color:black;
    position:absolute;
    z-index:6;
    top:0;
    height:52px;
    width:100%;
    box-shadow:0 0 3px rgba(0,0,0,0.7);
}

#homeContent2,#homeContent1 {
    height:550px;
    width:50%;
    float:left;
    position:relative;
    z-index:3;
    padding:10px;
}

#homeContentLayer1 {
    position:absolute;
    width:50%;
    left:0;
    top:405px !important;
    height:550px;
    background-color:#F2F2F2;
}
.messageOptions{cursor:pointer;}
.messageOptions.activeOption {background-color:#085429 !important;}
.messageOptions.activeOption span{color:white !important;}
.messageOptions.activeOption:before{
    color:white !important;
    background-size: 100%;
}
#messageNavigation .activeOption {background:#006994 !important;}
#dashboardNavigation .activeOption {background:#015F2A !important}
#contactNavigation .activeOption { background:#604001 !important }


.messageOptionsActive{}
#homeContentLayer2 {
    position:absolute;
    width:55%;
    right:0;
    top:405px !important;
    height:550px;
    background-color:#FFF;
}

#homecontainer {
    width:800px;
    margin:auto;
}

#homelogocontainer {
    position:relative;
    z-index:3;
    padding-top:30px;
    height:170px;
    background-color:#F2F2F2;
}

#homelogocontainer h3 {
    font-size:30px;
    font-weight:700;
}



#homenavigation li {

}

#homenavigation li a {

}

#homenavigation li a:hover {

}

#homenavigation li.icon {
    display:none;
    font-size:25px!important;
    position:absolute;
    right:25px;
    top:10px;
}

#homenavigation ul {

}
.mainFileList ul{margin-left:15px;list-style-type:none;}
.mainFileList ul li{margin-left:15px;list-style-type:none;}
.listedFiles{margin-bottom:2px;list-style-type:none;}
.listedFiles img{padding-right:3px;}
.listless { min-width:130px;list-style: none; float:left;text-align:center;margin-left:15px;}
.listless img{cursor:pointer;width:40px;height:40px;}
.integration_container{width:200px;height:200px; margin:10px; float:left; border:1px solid #CECECE; border-radius:5px;}

.active-link-lightred a:hover{
    color: lightcoral !important;
}
.active-link-lightred .active {font-weight:bold !important; color:lightcoral !important}
.active-link-lightblue a:hover {
    color:#235669 !important;
}
.active-link-lightblue .active {font-weight:bold !important; color:#235669 !important}

.active-link-blue a:hover {
    color:	#006994 !important;
}
.blue-background {
    background:  #006994 !important;
}

.active-link-red a:hover {
    color:	#9E0A0A !important;
}

.active-link-green a:hover {

    color:	#015F2A !important;
}
.active-link-orange a:hover {

    color:	#ff9800 !important;
}
.active-link-orange .active {font-weight:bold !important; color:#ff9800 !important}





#messageNavigation .messageOptions:hover{background:#006994 !important}
#contactNavigation .messageOptions:hover {background:#604001 !important}
#dashboardNavigation .messageOptions:hover {background:#015A28 !important}

.active-link-purple a:hover {
    color: #CB99C9 !important;
}

.active-link-brown a:hover{
    color:#604001 !important
}
.green-background{background:#015A28 !important}
.brown-background{background:#604001 !important}
.red-background {background: #C23B22 !important}
.active-link-purple .active{font-weight:bold !important;color:#CB99C9 !important}
.active-link-brown .active {font-weight:bold !important; color:#604001 !important}
.active-link-red .active{font-weight:bold !important;color:#C23B22 !important}
.active-link-green .active{font-weight:bold !important;color:#015A28 !important}
.active-link-blue .active{font-weight:bold !important;color:#006994 !important}
#homeslider {
    position:absolute;
    top:55px !important;
    height:350px;
    z-index:2;
    left:0;
    width:100%;
    background-size:100%;
    background:url(http://www.aurorahealthanddayspa.com/green_lights_aurora_borealis_1920x1080_wallpaper_Wallpaper_1920x1080_www.wall321.com.jpg) 50% center / cover no-repeat !important;
}

#logoblock {
    background-color:#F2F2F2;
    position:absolute;
    top:52px;
    left:0;
    width:100%;
    height:170px;
    z-index:2;
}

#mainNavBlock ul {
    width:190px;
}

#mainNavBlock ul li {
    left:8px;
    color:#2B303B;
    margin-top:15px;
    margin-bottom:15px;
    list-style:none;
    float:right;
    position:relative;
    padding-right:5px;
    border-bottom:1px solid #2B303B;
    width:198px!important;
    text-align:right;
}

#options {
    margin-top:5px;
    color:#FFF;
    float:right!important;
    width:200px!important;
    display:block!important;
}

#page-sidebar {
    width:280px;
    background-color:#2b303b;
    z-index:1000;
    left:-210px;
    position:fixed;
    bottom:0;
    top:0;
    right:auto;
    overflow:hidden;
    -webkit-transition:0 400ms cubic-bezier(0.05,0.74,0.27,0.99);
    -moz-transition:0 400ms cubic-bezier(0.05,0.74,0.27,0.99);
    -o-transition:0 400ms cubic-bezier(0.05,0.74,0.27,0.99);
    transition:transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
}

#sliderbox {
    position:relative;
    width:100%;
    z-index:3;
    height:300px;
    background-color:rgba(255,255,255,0.7);
    border-radius:3px;
    margin:25px auto!important;
    padding:10px;
}

.alert {
    display:none;
}

.alert-style {
    background-image:url(http://csscheckbox.com/checkboxes/alert-style.png);
}

.chart-legend li {
    list-style:none;
}

.chart-legend li span {
    display:inline-block;
    width:12px;
    height:12px;
    margin-right:5px;
}

.chrome-style {
    background-image:url(http://csscheckbox.com/checkboxes/chrome-style.png);
}

.clearIt {
    clear:both;
}

.css-label,.dark-check-green {
    background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

.dark-check-cyan {
    background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png);
}

.dark-check-orange {
    background-image:url(http://csscheckbox.com/checkboxes/dark-check-orange.png);
}

.dark-plus {
    background-image:url(http://csscheckbox.com/checkboxes/dark-plus.png);
}

.dark-plus-cyan {
    background-image:url(http://csscheckbox.com/checkboxes/dark-plus-cyan.png);
}

.dark-plus-orange {
    background-image:url(http://csscheckbox.com/checkboxes/dark-plus-orange.png);
}

.depressed {
    background-image:url(http://csscheckbox.com/checkboxes/depressed.png);
}

.depressed-lite-small {
    background-image:url(http://csscheckbox.com/checkboxes/depressed-lite-small.png);
}

.elegant {
    background-image:url(http://csscheckbox.com/checkboxes/elegant.png);
}

.fr-toolbar .fr-command.fr-btn.fr-hidden, .fr-popup .fr-command.fr-btn.fr-hidden{display:block;}


.modal h1,h2,h3,h4,h5{ color:#0FA933 !important}
.modal.fade {opacity:.7 !important}

.icon {
    border-radius:3px;
    color:#2B303B !important;
    border:1px solid #FFF;
    padding:6px;
}

.icon a {
    font-size:30px!important;
    color:#2B303B!important;
}

.icon2 {
    color:#2B303B;
    border:1px solid #CECECE;
    margin-top:10px;
    border-radius:4px;
}

.iconBlock {
    margin-bottom:15px;
    display:inline-block;
    background:#FFF!important;
    height:40px;
    width:40px;
    line-height:40px;
    text-align:center;
    vertical-align:middle;
    position:relative;
    right:5px;
    float:right;
    margin-right:4px;
    color:#788195;
    font-size:16px;
}

.klaus {
    background-image:url(http://csscheckbox.com/checkboxes/klaus.png);
}

.lite-blue-check {
    background-image:url(http://csscheckbox.com/checkboxes/lite-blue-check.png);
}

.lite-cyan-check {
    background-image:url(http://csscheckbox.com/checkboxes/lite-cyan-check.png);
}

.lite-gray-check {
    background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png);
}

.lite-green-check {
    background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);
}

.lite-orange-check {
    background-image:url(http://csscheckbox.com/checkboxes/lite-orange-check.png);
}

.lite-plus {
    background-image:url(http://csscheckbox.com/checkboxes/lite-plus.png);
}

.lite-red-check {
    background-image:url(http://csscheckbox.com/checkboxes/lite-red-check.png);
}

.lite-x-blue {
    background-image:url(http://csscheckbox.com/checkboxes/lite-x-blue.png);
}

.lite-x-cyan {
    background-image:url(http://csscheckbox.com/checkboxes/lite-x-cyan.png);
}

.lite-x-gray {
    background-image:url(http://csscheckbox.com/checkboxes/lite-x-gray.png);
}

.lite-x-green {
    background-image:url(http://csscheckbox.com/checkboxes/lite-x-green.png);
}

.lite-x-orange {
    background-image:url(http://csscheckbox.com/checkboxes/lite-x-orange.png);
}

.lite-x-red {
    background-image:url(http://csscheckbox.com/checkboxes/lite-x-red.png);
}

.mac-style {
    background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);
}

.mario-style {
    background-image:url(http://csscheckbox.com/checkboxes/mario-style.png);
}

.nav-header {
    float:right!important;
    width:90px!important;
    margin-top:5px!important;
}

.signUpLink a {

}


.vlad {
    background-image:url(http://csscheckbox.com/checkboxes/vlad.png);
}

.web-two-style {
    background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);
}

body {
    margin:0;
}

canvas {
    position:relative;
    right:30px;
}

input[type=checkbox].css-checkbox {
    position:absolute;
    overflow:hidden;
    clip:rect(0000);
    height:1px;
    width:1px;
    border:0;
    margin:-1px;
    padding:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position:0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
    padding-left:22px;
    height:20px;
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position:0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg {
    background-position:0 -20px;
}

input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left:22px;
    height:17px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position:0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {
    background-position:0 -17px;
}

input[type=checkbox].css-checkbox.sme + label.css-label.sme {
    padding-left:22px;
    height:16px;
    display:inline-block;
    line-height:16px;
    background-repeat:no-repeat;
    background-position:0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme {
    background-position:0 -16px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position:0 -15px;
}

label {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


.table-contents thead tr:first-child td{font-weight:bold;color:white;background-color:#2B303B;border-left:0px !important; border-right:0px !important;}
.table-contents thead tr td:nth-child(2){border-left:1px solid #CECECE;border-right:1px solid #CECECE;cursor:pointer}

.table-contents thead tr:nth-child(1) td:nth-child(2):before {content: "" !important; }

#emailContactTableBody  tr td:nth-child(2){border-left:1px solid #CECECE;border-right:1px solid #CECECE;cursor:pointer}
#emailContactTableBody  tr td:nth-child(2):hover{background-color:mintcream !important;}

#emailContactTableBody tr td:nth-child(2):before {
    font-size:18px;
    font-weight:bold;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float:left;
    text-decoration: inherit;
    color:lightslategray !important;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "\f107";
    position:relative;bottom:2px;
    background-size: 100%;
    transform:rotate(0deg);
    transition: all 0.4s ease;
}

.table-contents thead tr td:nth-child(2):before {
    font-size:18px;
    font-weight:bold;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float:left;
    text-decoration: inherit;
    color:lightslategray !important;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "\f107";
    position:relative;bottom:2px;
    background-size: 100%;
    transform:rotate(0deg);
    transition: all 0.4s ease;
}
.contact-actions{
    font-size:18px;
    font-weight:bold;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float:left;
    text-decoration: inherit;
    color:lightslategray !important;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "\f105";
    position:relative;bottom:2px;
    background-size: 100%;
}
#sl52pxiderbox {     position: relative;
    z-index: 2;
    margin-top: 15px;
    margin-bottom: 200px;}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

.smallHeader{margin-top:10px !important;font-family: initial !important}
.bar {
    height: 18px;
    background: green;
}
#messageBlock table tr:nth-child(2) {
    height:40px;overflow:hidden;
}
#messageBodyTable {width:100%;}
#templateSection{overflow:auto}
#templateBlockHolder{overflow:auto; white-space:nowrap; position:relative; padding-left:25px; padding-right:25px; overflow:auto;color:white;font-weight:bold;}
.templateBlockTable {margin-top:10px;margin-right:10px;float:left;width:130px}
.templateBlockApplyButton {font-weight:bold;margin:auto;height:20px;padding:0px !important; padding-left:10px;padding-right:10px;margin-top:25px; width:100px;}
.templateBlockViewMoreButton{font-weight:bold;height:20px;width:100px;padding:0px !important;padding-left:10px;padding-right:10px; margin:auto;}
.templateBlock button {display:none}
.templateBlock:hover button{display:block;}
.messageOptions{margin-left:8px;background-color:#f5f5f5;font-weight:bold;height:40px; width:180px !important; margin-top:10px; margin-bottom:10px;border:1px solid #CECECE;float:left; margin-right:10px; padding:5px; }
.messageOptions:before {font-weight:bold;
    display: inline-block;




}
.messageOptions i {width:30px;margin-right:14px;}
.messageOptions span {position:relative;top:3px;}
.hiddenInfo:hover td{background-color:floralwhite !important}
.hiddenInfo td{background-color:floralwhite !important}
.pushLeft-15 {margin-left:15px !important;}
.padLeft-12 {padding-left:12px;}
.padLeft-5{padding-left:5px;}
.pushLeft-10{margin-left:10px !important;}
.pushLeft-5{margin-left:5px !important}
.smallHeader{ font-size:23px;font-weight:bold;font-family:"Times New Roman" Times; position:relative;margin-bottom:0px;}

.messageOptionsText {position:relative;}
.messageOptions:hover{background-color:#085429 !important;}
.messageOptions:hover span{color:white !important;}
.messageOptions:hover:before{
    color:white !important;
    background-size: 100%;
}
.messageOptions{text-align:center;background-color:#f5f5f5;font-weight:bold; margin-top:10px !important; margin-bottom:10px;border:1px solid #CECECE;float:left; margin-right:10px; padding:5px; }

.messageOptions:before {font-weight:bold;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-size: 100%;


}
.messageOptionsText {position:relative; bottom:3px;}


.messageOptions2{background-color: #f5f5f5; font-weight:bold margin-top:10px; margin-bottom:10px;border:1px solid #CECECE;float:left; margin-right:10px; padding:5px; }
.messageOptions2:before {font-weight:bold;
    display: inline-block;


}
.messageOptionsText2 {position:relative; bottom:3px;}

.messageOptions2:hover:before{
    color:white !important;
    background: url("/templates/assets/img/websiteimages/GroupMessage-50-white.png") no-repeat 0 0;
    background-size: 100%;
}

.messageOptions4{background-color: #f5f5f5; font-weight:bold;width:150px;margin-top:10px; margin-bottom:10px;border:1px solid #CECECE;float:left; margin-right:10px; padding:5px; }
.messageOptions4:before {font-weight:bold;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 16px;
    height: 16px;
    margin-right: 5px;

    color:black;
    position:relative;bottom:2px;
    background-size: 100%;

}
.messageOptionsText4 {position:relative; bottom:3px;}
.messageOptions4:hover{color:white;background-color:#2E7AD1 !important;}
.messageOptions4:hover:before{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:white !important;
    background-size: 100%;
}

.messageOptions3{background-color: #f5f5f5; font-weight:bold;margin-top:10px; margin-bottom:10px;border:1px solid #CECECE;float:left; margin-right:10px; padding:5px; }
.messageOptions3:before {font-weight:bold;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color:black;
    position:relative;bottom:2px;
    background-size: 100%;

}
.bold { font-weight: bold !important}

#dashboardContainer td {margin-top:10px;}
#dashboardContainer table {margin-top:10px;}
.statNumber {font-size:30px; color:#2E7AD1}
.statLabel{color:#505E67;font-weight:bold;display:block;position:relative !important;top:5px !important;}
.messageTable {width:100%;border:1px solid #CECECE;}
.messageTable td {border-right:1px solid #CECECE}
.messageTable tr td:nth-child(2){
    width:40% !important;
}
.messageTable tr td:nth-child(1){
    width:1% !important;padding-left:5px;padding-right:5px;
}
.messageTable td {
    width:10%;
    padding:15px;
}
.manualOption{float:left;}
.messageOptionsText3 {position:relative; bottom:3px;}

.messageOptions3:hover:before{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color:white !important;
    background-size: 100%;
}
.messageCell2{padding:5px;font-weight:bold;}
.messageCell2 small{font-weight:normal;margin-left:0px !important;margin-right:10px;display:inline;}
.optionExplanation {height:90px;font-size:13px; font-weight:normal; color:#02672e !important;margin-top:10px;}

.optionButton{position:relative;bottom:0;}


.table-contents tr td:nth-child(2).openTable:before { font-size:18px;
    font-weight:bold;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float:left;
    text-decoration: inherit;
    color:lightslategray !important;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    transform:rotate(180deg);
    transition: all 0.4s ease;
    position:relative;bottom:0px;
    background-size: 100%;
}
.table-contents tr td:first-child{width:5%; color:white;}
.table-contents tr td{background-color:white;width:10%;padding:10px;border-bottom:1px solid #CECECE}
.table-contents {border:1px solid #CECECE}
.table-contents tr:hover td{background-color:lightcyan}
.table-contents tr:first-child:hover td{background-color:#2B303B !important}
#groupSearchBox td{padding-left:10px;padding-right:10px;padding-bottom:10px;}
.fa-arrow-down { font-size:13px;position:relative; left:5px;}
.contactInfoBoxContainer{float:left;width:30%;min-height:300px;border-right:1px solid #CECECE;}
.contactInfoBoxContainer2{float:left;width:65%;min-height:300px;border-right:0px solid #CECECE;}


@media screen and (max-width:680px) {
    #homenavigation ul.responsive {
        position: relative;
        display:inline-block;
        background-color:#016379 !important
    }
    #homenavigation ul.responsive li.icon {
        position: absolute;
        right: 25px;
        top: 10px;
    }
    #homenavigation ul.responsive li {
        float: none;
        display: inline;
    }
    #headerLayer {background: #0FA933 -webkit-linear-gradient(transparent 0,rgba(0,0,0,0.16) 100%) !importantbox-shadow: 0 0 5px rgba(0, 0, 0, 0.7);}
    #homenavigation {width:100% !important}
    #homenavigation ul li a{ display:block;float:none; padding:0 0 0 0 !important;}
    #homecontainer {margin:auto;width:100% !important;height:100% !important;}
    #homeContent2 {float:none;width:100% !important}
    #homeContent1 {float:none !important;width:100% !important;background-color:#F2F2F2;}
    #homeContentLayer1 {display:none !important;}
    #homeContentLayer2 {display:none !important;}

}
.alert {display:none}
body {margin:0px;}
#aboutUsContainer {height:760px}
#bodyContainer {position:relative;}
/*#homenavigation {
    position:relative;
    z-index:7;
    margin:auto;
    width:800px;
    height:52px !important;}

#homenavigation ul{
    display:table;
    width:100%;
    list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

}
#homenavigation li{
    display:table-cell;

    margin:auto;

}
#homenavigation li a {
    display: table-cell;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    cursor:pointer;
}
#homenavigation li a:hover {
    color:#0FA933;
}
#homenavigation li.icon {
    display: none;
    font-size:25px !important;
    position: absolute;
    right: 25px;
    top: 10px;
}/*
@media screen and (max-width:680px) {
    #homenavigation ul li:not(:last-child) {display: none;}
    #homenavigation ul li:first-child {padding-right: 30px;}
    #homenavigation ul li.icon {
        float: right;
        display: inline-block;
    }
}


.listDropDownItem ul{font-weight:bold;border: 1px solid #2B303B !important}


